@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/cooltipz-css@2.1.0/cooltipz.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --primary:#00B4D8;
    --secondary:#40434E;
    --third:#90E0EF;
    --fourth:#CAF0F8;
    --fifth:#A69CAC;
}

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    /*background-color: red;*/
    position: fixed;
    background-image: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
}

.footer {
    font-size: 13px;
    color: rgb(117, 117, 117);
    font-weight: 400;
}

.logo-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 280px;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    opacity: 0.9;
    text-align: center;
}

.action-button {
    font: inherit;
    border-radius: 5px;
    border: 3px solid var(--fifth);
    font-size: 1.25rem;
    padding: 1em;
    width: 45%;
    font-weight: 500;
    background-color: white;
    color: var(--fifth);
    margin-left: 5px;
    margin-right: 5px;
}

.action-button:hover {
    color: white;
    cursor: pointer;
    background-color: var(--fifth);
 }

.logo-text strong {
    color: black !important;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}

.para {
    margin-top: 15px;
    color: black;
    font-size: 20px;
}

.topbar {
    background-color: #333;
    overflow: hidden;
}

.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar a:hover {
    background-color: #ddd;
    color: black;
}

.topbar a.active {
    background-color: #04AA6D;
    color: white;
}

.waves {
    position:absolute;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:300px;
    max-height:350px;
    position: fixed;
    bottom: 0;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}